<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		{{! Page Meta }}
    	<title>{{meta_title}}</title>
   		<meta name="description" content="{{meta_description}}" />
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="stylesheet" href="{{asset "css/main.css"}}" />
		
		{{ghost_head}}
		
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="{{@blog.url}}">{{@blog.title}}<span></span></a></div>
				{{#if @blog.navigation}}
					<a href="#menu"><span>Menu</span></a>
				{{/if}}
			</header>
		
		<!-- Nav -->
			{{navigation}}

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="{{@blog.cover}}">
				<div class="inner">
					<header>
						<h1>{{@blog.title}}</h1>
					</header>
				</div>
				<a href="#one1" class="more">了解更多</a>
			</section>

		<!-- 文章 -->
		{{#foreach posts}}
		
			<section id="{{id}}" class="wrapper post bg-img" data-bg="{{image}}">
				<div class="inner">
					<article class="box">
						<header>
							<h2>{{title}}</h2>
							<p>{{date format="YYYY MMMM DD"}}</p>
						</header>
						<div class="content">
							<p>{{excerpt characters="60"}}</p>
						</div>
						<footer>
							<a href="{{url}}" class="button alt">查看更多</a>
						</footer>
					</article>
				</div>
				
				{{#if @last}}
   				{{else}}
    				<a href="#{{id}}" class="more">Learn More</a>
 				{{/if}}
			</section>
			
		{{/foreach}}

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<!--
					<h2>Contact Me</h2>
					
					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>
					-->
					<ul class="icons">
						<li><a href="#" class="icon round fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon round fa-wechat"><span class="label">Wechat</span></a></li>
						<li><a href="#" class="icon round fa-weibo"><span class="label">微博</span></a></li>
					</ul>
					
					<div class="copyright">
						<p>Copyright &copy; <a href="{{@blog.url}}">{{@blog.title}}</a> {{date format="YYYY"}} • All rights reserved.</p>
						<p>京ICP备19940702号</p>
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{asset "js/jquery.min.js"}}"></script>
			<script src="{{asset "js/jquery.scrolly.min.js"}}"></script>
			<script src="{{asset "js/jquery.scrollex.min.js"}}"></script>
			<script src="{{asset "js/skel.min.js"}}"></script>
			<script src="{{asset "js/util.js"}}"></script>
			<script src="{{asset "js/main.js"}}"></script>
			
		{{ghost_foot}}
		
	</body>
</html>
