<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <style type="text/css">body.no-flash{visibility: hidden;}</style>
    <!--[if lte IE 8]><script src="{{asset "css/ie/html5shiv.js"}}"></script><![endif]-->
    <script src="{{asset "js/jquery.min.js"}}"></script>
    <script src="{{asset "js/skel.min.js"}}"></script>
    <script src="{{asset "js/skel-layers.min.js"}}"></script>
    <script src="{{asset "js/init.js"}}"></script>
    <noscript>
        <link rel="stylesheet" href="{{asset "css/skel.css"}}" />
        <link rel="stylesheet" href="{{asset "css/style.css"}}" />
        <link rel="stylesheet" href="{{asset "css/style-xlarge.css"}}" />
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="{{asset "css/ie/v8.css"}}" /><![endif]-->

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} no-flash">

    <div class="site-wrapper">

        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <section class="4u 6u(medium) 12u$(small)">
                        <h3>Mail</h3>
                        <ul class="alt">
                            <li>
                                <a href="mailto:18611401994@163.com" target="_blank">18611401994@163.com</a>
                            </li>
                        </ul>
                    </section>
                    <section class="4u 6u$(medium) 12u$(small)">
                        <h3>所在地</h3>
                        <ul class="alt">
                            <li>
                                中国 - 北京
                            </li>
                        </ul>
                    </section>
                    <section class="4u$ 12u$(medium) 12u$(small)">
                        <h3>社交</h3>
                        <ul class="icons">
                            <li><a href="https://github.com/lixiang1994" class="icon rounded fa-github"><span class="label">Github</span></a></li>
                            <li><a href="http://weibo.com/5603919261/info" class="icon rounded fa-weibo"><span class="label">Sina</span></a></li>
                            <li><a href="#" class="icon rounded fa-wechat"><span class="label">Wechat</span></a></li>
                            <li><a href="#" class="icon rounded fa-apple"><span class="label">Apple</span></a></li>
                            <li><a href="#" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a></li>
                        </ul>
                    </section>
                </div>
                <ul class="copyright">
                    <li><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</li>
                    <li><a href="https://yourdomain.com">Your Name</a></li>
                </ul>
            </div>
        </footer>

    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

</body>
</html>
