{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header id="header" class="{{#if @blog.cover}}">
    <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    {{navigation}}
</header>

<!-- Banner -->
<section id="banner" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <h2>{{@blog.title}}</h2>
    <p>{{@blog.description}}</p>
    <ul class="actions"><li><a href="#two" class="button big">查看更多</a></li></ul>
</section>

<!-- One -->
<section id="one" class="wrapper style1 align-center">
    <div class="container">
        <header>
            <h2>博客向导</h2>
            <p>我是一名热爱编程的小男"孩",该博客用来记录我在编程生涯以及生活中的点滴,并将一些有趣的事一起分享</p>
        </header>
        <div class="row 200%">
            <section class="4u 12u$(small)">
                <i class="icon big rounded fa-code"></i>
                <p>主要的编程技术文章以及经验的分享会在第一时间发布在本博客中,如果你觉得对自己有帮助,欢迎订阅我的博客.</p>
            </section>
            <section class="4u 12u$(small)">
                <i class="icon big rounded fa-comments"></i>
                <p>本博客支持评论,欢迎大家一起探索.思考 并发表不同的看法,共同发现世界中不一样的风景,同时也希望大家可以指出不正确的地方,我会及时更正.</p>
            </section>
            <section class="4u$ 12u$(small)">
                <i class="icon big rounded fa-user"></i>
                <p>希望可以通过本博客结交与我有相同兴趣爱好或志同道合的朋友,海内存知己 天涯若比邻.</p>
            </section>
        </div>
    </div>
</section>

{{! The main content area on the homepage }}
<section id="two" class="wrapper style2 align-center">
    <div class="container">
        <header>
            <h2>最新文章</h2>
        </header>
        <div class="row">
            {{! The tag below includes the post loop - partials/loop.hbs }}
            {{> loop}}
        </div>
        <footer>
        	<ul class="actions">
        		<li><a href="/NewList" class="button alt big">查看更多</a></li>
        	</ul>
        </footer>
    </div>
</section>
