{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="{{image}}">
				<div class="inner">
					<article class="box">
						<header>
							<h2>{{title}}</h2>
							<p>{{date format='YYYY MM DD'}}</p>
						</header>
						<div class="content">
							{{content}}
						</div>
						<footer>
							<ul class="actions">
								{{#if prev}}
									<li><a href="{{page_url prev}}" class="button alt icon fa-chevron-left"><span class="label">上一篇</span></a></li>
								{{/if}}
	    						{{#if next}}
									<li><a href="{{page_url next}}" class="button alt icon fa-chevron-right"><span class="label">下一篇</span></a></li>
								{{/if}}
							</ul>
						</footer>
					</article>
				</div>
			</section>

{{/post}}
