{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

	<!-- Content -->
	<!--
		Note: To show a background image, set the "data-bg" attribute below
		to the full filename of your image. This is used in each section to set
		the background image.
	-->
	<section id="post" class="wrapper bg-img" data-bg="{{image}}">
		<div class="inner">
			<article class="box">
			
				<header>
					<h2>{{title}}</h2>
					<p><time>{{date format='YYYY MM DD'}}</time></p>
				</header>
				
				<div class="content">
					{{content}}
				</div>
				
				<footer>
					<ul class="actions">
					{{# prev_post}}
						<li>
							<a href="{{url}}" class="button alt icon fa-chevron-left"><span class="label">上一篇</span></a>
						</li>
					{{/prev_post}}
					{{# next_post}}
						<li>
							<a href="{{url}}" class="button alt icon fa-chevron-right"><span class="label">下一篇</span></a>
						</li>
					{{/next_post}}
					</ul>
				</footer>
				
			</article>
		</div>
	</section>

{{/post}}
