{{!< default}}
{{#tags}}
<header id="header" class="main-header post-head">
    <h1>
        <a href="{{@blog.url}}">{{@blog.title}}</a>
    </h1>
    {{navigation}}
</header>

<section class="wrapper">
  <div class="wrapper-container">
    <header>
      <h2>{{tag.name}}</h2>
    </header>

    <section class="post-list">
      {{#foreach posts}}
        {{> post}}
      {{/foreach}}
    </section>

    {{#if pagination}}
      {{pagination}}
    {{/if}}
  </div>
</section>
{{/tags}}