{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header id="header" class="{{#if @blog.cover}}">
    <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    {{navigation}}
</header>

<section class="wrapper style2 align-center">
    <div class="container">
        <header>
            <h2>{{tag.name}}</h2>
        </header>
        {{#foreach posts}}
        	<article>
         		<header class="post-header">
            		<h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
         		</header>
       		 </article>
    	{{/foreach}}
        {{#if pagination}}
			{{pagination}}
   		{{/if}}
    </div>
</section>