{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header id="header" class="{{#if @blog.cover}}">
    <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    {{navigation}}
</header>

<!-- Banner -->
<section id="banner" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <h2>{{tag.name}}</h2>
    <p>共{{posts.count}}篇文章</p>
</section>

{{! The main content area on the homepage }}
<section id="two" class="wrapper style2 align-center">
    <div class="container">
        <div class="row">
            {{! The tag below includes the post loop - partials/loop.hbs }}
            {{> loop}}
        </div>
    </div>
</section>