{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header id="header" class="{{#if @blog.cover}}">
    <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    {{navigation}}
</header>

<!-- Banner -->
<section id="banner" style="background-image: url({{tag.image}}){{else}}no-cover{{/if}}; padding: 5em 0em 5em;
   {{#if tag.image}}color:#ffffff;{{else}}color:#202222;{{/if}}">
    <h2>{{tag.name}}</h2>
	<p>共{{posts.length}}篇文章</p>
</section>

{{! The main content area on the homepage }}
<section id="two" class="wrapper style2 align-center">
    <div class="container">
        <div class="row">
            {{#foreach posts}}
				<section class="feature 6u 12u$(small) {{post_class}}">
					<a href="{{url}}"><img class="image fit" src="{{image}}" alt="" /></a>
					<h3 class="title"><a href="{{url}}">{{{title}}}</a></h3>
					<p><p>{{excerpt words="26"}} <a class="read-more" href="{{url}}"> 更多</a></p></p>
				</section>
			{{/foreach}}
        </div>
        {{#if pagination}}
			{{pagination}}
    	{{/if}}
    </div>
</section>